# Kconfig - iMX8 M4 core series
#
# Copyright (c) 2019, Prevas A/S
#
# SPDX-License-Identifier: Apache-2.0
#

if SOC_MIMX8MQ6_M4

config SOC
	string
	default "mimx8mq6_m4"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 200000000

if CLOCK_CONTROL

config CLOCK_CONTROL_IMX_CCM
	default y

endif # CLOCK_CONTROL

if SERIAL

config UART_IMX
	default y

endif # SERIAL

if IPM

config IPM_IMX
	default y

endif # IPM

endif # SOC_MCIMX7_M4
